.node--type-servicios.node--view-mode-teaser{
  transition: all .5s;
  border: 1px solid shade(grey-lighter);
  border-radius: 1rem;
  overflow: hidden;
  background: $white;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 300%;
    height: 70%;
    background: rgba($white,.1);
    transform: rotate(-45deg) translate(-50%, -50%);
    left: 200%;
    top: -50%;
    transition: all .5s;
  }
  &:hover{
    box-shadow: 0 4px 100px rgba($black,.2);
    &:before{
      left: -200%;
    }
  }
  h2{
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    a{
      color: $app-font-color-title;
      font-weight: 400;
    }
  }
}
