.button-primary,
.button-white{
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  background: $white;
}

.button-primary{
  background: color(color);
  color: $white;

  &:hover{
    color: $white;
    background: darken(color(color),7);
  }
}

.button-white{
  &:hover{
    background: shade(white-ter);
  }
}
