.theme-style{
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: .5rem;
  background: shade(grey-lighter);
  border-radius: .5rem 0 0 .5rem;
  border: 1px solid shade(grey-light);
  &__item{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    cursor: pointer;
    &:first-child{
      background: $black;
    }
    &:last-child{
      background: $white;
    }
  }
}
